venv/
.venv/
dataset/internal_central_vocab.json
dataset/global_vocab_index.json
dataset/d2klab_new_word_dict.json
dataset/d2klab_word_dict.json
dataset/maryangel101_new_word_dict.json
dataset/maryangel101_word_dict.json
__pycache__/
.DS_Store
.python-version
pyproject.toml
uv.lock